@charset "UTF-8";


.user_mypage_text{
	
	font-size: 20px;
	font-weight: bold;
	color: white;
	
}

.MTtd {
	color: white;
}

.MBox {
	width: 60%;
	height:350px;
	border:4px solid #6b7280;
	border-radius: 15px;
	margin: 0px 15px 15px 0px;
	font-size: 30px;
	color: #6b7280;
}
#Mtable{
	width: 100%;
	height: 100%;
}
.MTtd2{
	color: white;
	text-align: center;
}
.img_area {
	width: 100%;
	height: 300px;
	margin-top: 50px;
	
}

.img_area>img {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	border: 4px solid #6b7280;
}
.profileImg{
	margin:auto;
	width: 210px;
	height: 210px;
	border-radius: 50%;
	border: 4px solid #6b7280;
	color: #6b7280;
	font-size: 800%;
}

.BBox {
	border-radius: 20px;
	margin: auto;
	margin-bottom: 10%;
	width: 70%;
	height: 100px;
	border:none;
	background-color: #3b82f6;
	font-size: 30px;
	color: white;
}

p {
	text-align: center;
}

.p5 {
	height: 150px;
}

.p1 {
	margin-top: 4%;
}

.user_profile_btn:hover {
	color: #3b82f6;
	background-color: #f3f4f6;
	cursor: pointer;
}
.user_pwd_change:hover{
	color: #3b82f6;
	background-color: #f3f4f6;
	cursor: pointer;
}


#dialog {
	display: none;
}

.about_me{
	margin-top:0%;
	font-size: 15px;
}
.profile{
	margin-left: 20%;
}

.link_btn {
	border-radius: 20px;
	margin: auto;
	margin-top: -10%;
	width: 70%;
	height: 100px;
	border:none;
	background-color: #3b82f6;
	font-size: 30px;
	color: white;
}

.user_mypage_service{
	display:flex;
	flex-direction:column;
	width:70%;
	height:350px;
	margin : 0 auto;
}
.user_profile_btn_area{
	width:50%;
	height:350px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.user_profile_btn{
	width: 45%;
	height: 100px;
	margin: 10px;
	border-radius: 15px;
	border:none;
	background-color: #3b82f6;
	font-size: 30px;
	color: white;
	margin-top: 20px;
}
.user_pwd_change{
	width: 45%;
	height: 100px;
	margin: 10px;
	border-radius: 15px;
	border:none;
	background-color: #3b82f6;
	font-size: 30px;
	color: white;
	margin-top: 20px;
}
