@charset "UTF-8";

/* 
* {
	border: 1px solid gray;
}
*/

body {
	background: #1f2937;
    margin: 0;
    padding: 0;
}
p {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	height: 60px;
	background-color: rgba(11, 15, 25, .9);
	font-weight: bold;
	justify-content: space-between;
	align-items: center;
}

.common_container {
	width: 1080px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}


h1,h4 {
	color: #f3f4f6;
}

h2 {
	color: #6b7280;
}
h3{
	color: #f3f4f6;
}

a {
	text-decoration: none;
	color: #d1d5db;
}
a:hover{
	color: #f3f4f6;
}
a:link{
	background-color: rgba(11, 15, 25, .9);
	text-decoration: none;
}
form {
	border:2px solid #6b7280;
	border-radius: 5px;
	
}
input{
	background-color: rgba(11, 15, 25, .9);
	color: #6b7280;
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: none;
}
input:focus {
	outline:none;
}
	
