@charset "UTF-8";

/* 
* {
	border: 1px solid gray;
}
*/

body {
	background: #1f2937;
    margin: 0;
    padding: 0;
}
p {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	height: 60px;
	background-color: rgba(11, 15, 25, .9);
	font-weight: bold;
	justify-content: space-between;
	align-items: center;
}

.common_container {
	width: 100%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}


h1,h4 {
	color: #f3f4f6;
}

h2 {
	color: #6b7280;
}
h3{
	color: #f3f4f6;
}

a {
	text-decoration: none;
	color: #d1d5db;
}
a:hover{
	color: #f3f4f6;
}
a:link{
	background-color: rgba(11, 15, 25, .9);
	text-decoration: none;
}
form {
	border:2px solid #6b7280;
	border-radius: 5px;
	
}
input{
	background-color: rgba(11, 15, 25, .9);
	color: #6b7280;
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: none;
}
input:focus {
	outline:none;
}

#ott_ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.ott_li {
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 20%;
}

@media(max-width: 1680px) {
	.ott_li{
		width: 24%;
	}
}

@media(max-width: 1280px) {
	.ott_li{
		width: 33%;
	}
}

@media(max-width: 1024px) {
	.ott_li{
		width: 50%;
	}
}

@media(max-width: 660px) {
	.ott_li{
		width: 100%;
	}
}

.boxs {
	box-shadow: 1px 1.5px 8px 3px gray;
	border-radius: 10px;
	border: 3px solid #6b7280;
	width: 300px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 0px;
}

.image_box {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 300px;
	margin: 0 auto;
}

.story_box {
	text-align: center;
}

.poster {
	max-width: 299px;
	max-height: 170px;
}

.story_line {
	line-height: 24px;
	font-size: 14px;
	overflow: hidden;
	height: 48px;
	width: 300px;
	margin: 0 auto;
	text-overflow: ellipsis;
	text-align: center;
}

.subject {
	font-weight: 600;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
}
