@charset "UTF-8";

/* 컨테이너 영역 */
.container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	margin-top: 65px;
}
/* 아이템 영역 */
.slider_items {
	width: 100%;
	text-align: center;
	position: relative;
	height: 300px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.slide_item {
	position: absolute;
	width: 800px;
	height: 300px;
	opacity: 0; /* 요소의 불투명도를 설정한다. 속성값으로 0을 주면 완전히 투명하게 보이게된다  */
	transition: all 0.3s; /* all로 지정하게 되면 높이,너비에 transition 효과를 줄 수 있다; */
	left: 100px;
}

.slide_item>.movie_items {
	color: white;
	margin: 8px 20px;
	width: 25.5%;
	float: left;
	text-align: center;
	border-radius: 5px;
	background-color: black;
	padding: 10px;
}

.slide_item .img_box {
	display: inline;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 18%;
}

.slide_item .sub_text {
	color: gray;
	font-size: 0.8rem;
}

.sub_text_left {
	display: inline;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

.sub_text_right {
	display: inline;
	text-align: center;
	float: right;
}

.nextButton {
	float: right;
	margin-top: 10px;
}

.prevButton {
	float: left;
	margin-top: 10px;
}

/*다음,이전 버튼을 드래그되지 않게 방지하기*/
.nextButton, .prevButton {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none
}

/*현재 아이템에 붙여줄 클래스*/
.on_slide {
	opacity: 1;
	transition: all 0.3s;
}

/*현재 썸네일에 붙여줄 클래스*/
.on_thumbnail {
	
}
/*썸네일 아이템을 감쌀 뼈대*/
.thumbnail {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	height: 50px;
	position: absolute;
	justify-content: center;
	margin-top: 50px;
}

.thumbnail_item { /*썸네일 아이템의 길이 설정*/
	border-radius: 10px;
	width: 98px;
}

.slide_item:nth-of-type(1) {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.slide_item:nth-of-type(2) {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.slide_item:nth-of-type(3) {
	background-image: url("../../images/wavve.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.slide_item:nth-of-type(4) {
	background-image: url("../../images/squid_game.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

.slide_item:nth-of-type(5) {
	background-image: url("../../images/popcon.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 10px;
}

#mname {
	background-color: black;
}

.ott_rposter {
	width: 32.5%;
	height: 93%;
	float: left;
	background-color: black;
	border-radius: 20px;
}

#rposter_c {
	margin: 0 7px;
}

.rposter_img {
	width: 75%;
	height: 80%;
	margin-top: 12px;
	border-radius: 20px;
	border: 3px solid #6b7280;
}

.today_ott {
	line-height: 29px;
    font-weight: bold;
    color: white;
}