@charset "UTF-8";
body {
	background-color:#1F2937;
	color:#CED2D8;
}
form {
	display:inline-block;
	text-align:center;
}
.pw_reissue {
	width:350px;
}
.id_find {
	width:350px;
}
.login_main {
	width:350px;
}
.join {
	width:380px;
}
div {
	text-align:center;
	font-size:13px;
}
a #text {
	color:#CED2D8;
	text-decoration:none;
}
div #blank {
	margin:200px 0px;
}
fieldset {
	line-height:12px;
	background-color:#374151;
}
input {
	height:30px;
}
input.social {
	width:155px;
	height:36px;
}
.submit {
	width:300px;
	height:30px;
	background-color:#2563EB;
	color:#FFFFFF;
	border:0;
	outline:0;
}
div #maincontent {
	text-align:left;
	font-size:16px;
}
div #subcontent {
	font-size:13px;
}
div #content {
	text-align:left;
	font-size:13px;
}