@charset "UTF-8";

.footer_container{
	width:100%;
	height:220px;
	margin: 0 auto;
	background: #0d121c;
	text-align: center;
	line-height: 20px;
}
.footer_container ul{
	display:inline-block;
	list-style: none;
}
.footer_container li{
	position:relative;
	float: left;
    list-style: none;
    line-height: 20px;
    text-align: center;
    margin: 0 11px;
    right: 26px;    
}
.footer_title{
	line-height: 70px;
}
.github_icon{
	margin: 0;
	padding: 0;
	line-height: 10px;
}
