@charset "UTF-8";


	#bbs_qna table {
	    width: 600px;
	    margin-left:10px;
	    border:1px solid black;
	    border-collapse:collapse;
	    font-size:14px;
		
	}
	
	#bbs_qna table caption {
	    font-size:20px;
	    font-weight:bold;
	    margin-bottom:10px;
	}
	
	#bbs_qna table th {
	    text-align:center;
	    border:1px solid black;
	    padding:4px 10px;
	}
	
	#bbs_qna table td {
	    text-align:left;
	    border:1px solid black;
	    padding:4px 10px;
	}
	
	.no {width:15%}
	.subject {width:30%}
	.writer {width:20%}
	.reg {width:20%}
	.hit {width:15%}
	.title{background:lightsteelblue}
	
	.odd {background:silver}
	
	.disabled{
		background-color: #dedede;
		cursor: default;
		border: 1px solid #bcbcbc;
	}	
	.content_ta { min-height: 300px; width:500px; }
	#subject{background-color: white; color: black; width: inherit;}